@font-face {
	font-family: 'Intro';
	src: url('../../../assets/fonts/Intro.woff') format('woff2');
  src: url('../../../assets/fonts/Intro.woff2') format('woff');
	font-weight: 400;
	font-style: normal;
}

@import url(//db.onlinewebfonts.com/c/0f106940a384f214837a8df504786e1a?family=Formular);

.banner__container {
  padding-top: 100px;
  max-width: 100%;
  height: 100vh;
  background: url('../../../assets/images/main.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Intro', sans-serif;
  display: flex;
}

.banner__inner {
  flex-direction: column;
  justify-content: flex-start;
  text-transform: uppercase;
  padding-left: 10vw;
  padding-top: 9vh;
}

.banner__text-big1 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 0;
  font-size: 44px;
}

.banner__text-big2 {
  color: #fff;
  margin-bottom: 0;
  font-size: 64px;
}

.banner__text-small {
  color: orange;
  font-size: 24px;
  text-shadow: black 1px 1px;
}

.banner__btn {
  font-family: 'Formular', sans-serif;
  font-weight: 800;
  font-stretch: 100%;
  letter-spacing: 0.1rem;
  margin-top: 5vh;
  padding: 2.7% 2.7%;


  color: black;
  background-color: orange;
  border-color: orange;
  box-shadow: 0 0 40px 40px orange inset, 0 0 0 0 orange;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  text-transform: uppercase;
}

.banner__btn:hover {
  color: orange;
  background-color: transparent;
  box-shadow: 0 0 10px 0 orange inset, 0 0 10px 4px orange;

}

@media (max-width: 1024px) {
  .banner__inner {
    padding-top: 7vh;
  }
  .banner__text-big1 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 44px;
    text-shadow: black 1px 1px;
  }
  .banner__text-big2 {
    color: #fff;
    margin-bottom: 0;
    font-size: 64px;
  }
  .banner__text-small {
    color: orange;
    font-size: 32px;
  }

}

@media (max-width: 768px) {
  .banner__inner {
    padding-top: 7vh;
  }
  .banner__text-big1 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 44px;
  }
  .banner__text-big2 {
    color: #fff;
    margin-bottom: 0;
    font-size: 64px;
  }
  .banner__text-small {
    color: orange;
    font-size: 32px;
  }

}

@media (max-width: 425px) {
  .banner__inner {
    padding-top: 7vh;
  }
  .banner__text-big1 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 34px;
  }
  .banner__text-big2 {
    color: #fff;
    margin-bottom: 0;
    font-size: 42px;
  }
  .banner__text-small {
    color: orange;
    font-size: 22px;
  }

}

@media (max-width: 375px) {
  .banner__inner {
    padding-top: 7vh;
  }
  .banner__text-big1 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 32px;
  }
  .banner__text-big2 {
    color: #fff;
    margin-bottom: 0;
    font-size: 40px;
  }
  .banner__text-small {
    color: orange;
    font-size: 20px;
  }

}

@media (max-width: 320px) {
  .banner__inner {
    padding-top: 7vh;
  }
  .banner__text-big1 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 28px;
  }
  .banner__text-big2 {
    color: #fff;
    margin-bottom: 0;
    font-size: 36px;
  }
  .banner__text-small {
    color: orange;
    font-size: 16px;
  }

}