
.fixed-top {
  background-color: #21211f;
  background-image: url('../../assets/images/footer-wall.jpg');
  background-size: contain;
  color: lightgray;
  min-height: 101px;
}

.nav-link {
  text-decoration: none;
  color: lightgray;
  line-height: 24px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 1rem 0 1rem;
  white-space: nowrap;
}

.fixed-top .navbar-nav .nav-link:hover {
  color: orange;
} 

.navbar-toggler {
  margin-right: 1rem;
}

.logo {
  margin: 0 1rem 0 1rem;
}

.logo__img {
  width: 10rem;
}

.telephone {
  text-decoration: none;
  color: #fff;
  line-height: 24px;
  font-size: 21px;
  font-weight: 700;
  white-space: nowrap;
  margin: 0 1.2vw;
  transition: 0.3s
}

.telephone:hover {
  transition: 0.3s ;
  color: orange
}

.bi-telephone,
.bi-envelope {
  color: orange;
}

.BASKET {
  color: darkgreen;
  text-decoration: none;
  line-height: 24px;
  font-size: 21px;
  font-weight: 600;
  margin: 0 4rem 0 1rem;
  white-space: nowrap;
  
}

.bi-basket{
  color: orange
}

@media (max-width: 990px) {
.nav-link {
  margin-top: 10px;
}
.telephone {
 padding-top: 10px;
}
.BASKET {
  padding-top: 15px;
}
}

